/* bootstrap correct */

.container {
	width: auto;
	max-width: 980px;
	padding: 0 15px;
}

.container .text-muted {
	margin: 20px 0;
}

body > .container {
	padding: 40px 15px;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

/* user */

textarea {
	resize: none;
}