<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	"
>
	
	<!-- MVC -->
	<import resource="spring-mvc.xml" />
	
	<!-- beans -->
	<import resource="spring-beans.xml" />
	
	<!-- JDBC -->
	<import resource="spring-jdbc.xml" />
	
	<!-- Hibernate -->
	<import resource="spring-hibernate.xml" />
	
	<!-- Security -->
	<import resource="spring-security.xml" />
	
	<!-- Localization -->
	<import resource="spring-localization.xml" />
	
	<!-- AoP -->
	<import resource="spring-aop.xml" />
	
</beans>